<div class="companies-wrapper">
  @for (company of companies; track company.id) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ company.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if (company.id) {
        <div class="manage-position-wrapper">
          <h2>Manage positions</h2>
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/newPosition', company.id]">
            New Position
          </button>
        </div>
        @for (
          position of positionsByCompany[company.id] | async;
          track position.positionId
        ) {
          <div class="position-wrapper">
            <div class="position-name">
              <p>{{ position.positionName }}</p>
            </div>
            <div class="action-buttons">
              <mat-icon
                [routerLink]="[
                  '/editPosition',
                  company.id,
                  position.positionId
                ]"
                >edit</mat-icon
              >
              <mat-icon [routerLink]="['/viewApplicants', position.positionId]"
                >view_list</mat-icon
              >
              <mat-icon (click)="deletePosition(position.positionId)"
                >delete</mat-icon
              >
            </div>
          </div>
        }
      }
    </mat-expansion-panel>
  }
</div>
