mat-expansion-panel, mat-panel-title {
  color: white;
  background-color: RGB(54, 69, 79);
}

mat-expansion-panel {
  width: 50%;
  margin: 0.4rem;
}

.companies-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manage-position-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

