<form [formGroup]="projectForm" name="addProject" (ngSubmit)="addProject()" [noValidate]="false">
	<mat-form-field>
		<mat-label formControlName="name">Project name</mat-label>
		<input name="name" [(ngModel)]="projectName" matInput [required]="true">
	</mat-form-field>

	<mat-form-field>
		<mat-label formControlName="description">Description</mat-label>
		<textarea name="description" [(ngModel)]="projectDescription" matInput [required]="true"> </textarea>
	</mat-form-field>

	<mat-form-field>
		<mat-label formControlName="technologies">Technologies</mat-label>
		<textarea name="technologies" [(ngModel)]="projectTechnologies" matInput [required]="true"> </textarea>
	</mat-form-field>

	<mat-form-field>
		<mat-select formControlName="unit" required placeholder="Select a unit" [(ngModel)]="selectedUnit">
			<mat-option *ngFor="let unit of units " [value]="unit.name">
				{{unit.name}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="projectForm.controls['unit'].invalid && projectForm.controls['unit'].touched">
			Please select a unit.
		</mat-error>
	</mat-form-field>

	<mat-form-field>
		<input formControlName="date" required matInput [(ngModel)]="projectCreationDate" [matDatepicker]="picker"
			   placeholder="Project start date">
		<mat-datepicker-toggle matSuffix [for]="picker">
			<mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
		</mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
		<mat-error *ngIf="projectForm.controls['date'].invalid && projectForm.controls['date'].touched">
			Please select a date.
		</mat-error>
	</mat-form-field>

	<button mat-button type="submit" [disabled]="!projectForm.valid">Upload</button>
</form>
