<form [formGroup]="preferenceForm" (ngSubmit)="savePreferences()" [noValidate]="false" class="text-center">
	<h1 class="mt-4">Notification preferences</h1>
	<p>Select what type of positions you would like to get notifications for.</p>

	<p>Role:</p>
	<mat-form-field>
		<mat-select placeholder="Any" multiple formControlName="role"
					[panelWidth]="null" [(ngModel)]="selectedRoles">
			<mat-option *ngFor="let role of roles" [value]="role">
				{{role | underscore}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<p>Seniority:</p>

	<mat-form-field>
		<mat-select placeholder="Any" formControlName="seniority"
					[panelWidth]="null" multiple [(ngModel)]="selectedSeniorities">
			<mat-option *ngFor="let seniority of seniorities" [value]="seniority">
				{{seniority | underscore}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<p>Unit:</p>

	<mat-form-field>
		<mat-select placeholder="Any" formControlName="unit"
					[panelWidth]="null" multiple [(ngModel)]="selectedUnits">
			<mat-option *ngFor="let unit of units" [value]="unit">
				{{unit | underscore}}
			</mat-option>
		</mat-select>

	</mat-form-field>
	<br>
	<button mat-button type="submit">Save</button>
</form>
