.filter-jobs {
  display: flex;
  margin: 2rem auto auto;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.all-jobs {
  margin-left: 6rem;
  margin-right: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.page-control-wrapper {
  display: flex;
  justify-content: center;
}


