*, :after, :before {
  box-sizing: border-box;
}


.listings {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.listings-wrapper {
  display: inline-block;
}


