<nav class="navbar navbar-expand-lg">

	<a class="navbar-brand" [routerLink]="['/projects']">
		<!--TODO: replace removed file-->
		<!-- <img src="/assets/" alt="logo" height="200" width="200" priority=""> -->
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item mx-2">
				<p class="projectName mt-2 mb-0">
					Project Opportunities
				</p>
				<p class="welcome" #welcome>
					Welcome, {{user?.firstName ?? ""}} {{user?.lastName ?? ""}}
				</p>
			</li>
			<li class="nav-item active center">
				<a class="nav-link" [routerLink]="['/projects']">Home</a>
			</li>
			<ng-container *ngIf="isInRole">
				<li class="nav-item center">
					<a class="nav-link" [routerLink]="['/addProject']">Add project</a>
				</li>
				<li class="nav-item center">
					<a class="nav-link" [routerLink]="['/managePositions']">Manage positions</a>
				</li>
			</ng-container>
			<li class="nav-item center settings-container">
				<a [routerLink]="['/settings']" class="nav-link settings">⚙️ </a>
			</li>
		</ul>
	</div>
</nav>
