html {
	font-family: "Inter-Regular", Arial, sans-serif;
}

.logo-img {
	margin-bottom: 50px;
}

.kc-login,
.kc-register,
.login-pf,
body {
	background-color: #003246;
}

.login-pf body {
	background: none;
}

#kc-header {
	background-color: #003246;
	color: white;
}

#username,
#firstName,
#lastName {
	background-image: url("../img/User.svg");
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 48px;
	padding: 6px 12px 6px 60px;
	border: solid #668490;
	border-width: 0 0 1px 0;
	border-radius: 0;
	height: 52px;
}

#email {
	background-image: url("../img/Email.svg");
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 48px;
	padding: 6px 12px 6px 60px;
	border: solid #668490;
	border-width: 0 0 1px 0;
	border-radius: 0;
	height: 52px;
}

#password,
#password-confirm {
	background-image: url("../img/Password.svg");
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 48px;
	padding: 6px 12px 6px 60px;
	border: solid #668490;
	border-width: 0 0 1px 0;
	border-radius: 0;
	height: 52px;
}

#kc-login,
#kc-register {
	border-radius: 10px;
}

#header-project_name, .logo-img {
	margin: 0;
}
