<div class="filters">
  <div class="header">
    <h1>Filters</h1>
  </div>

  <form [formGroup]="jobFilters" (ngSubmit)="applyFilters()">
    <mat-expansion-panel class="filter" expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Salary</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="salary-filter">
        <div class="salary-wrapper">
          <label for="min-salary">min</label>
          <input id="min-salary" type="number" formControlName="minSalary" />
        </div>
        <span class="mx-3">-</span>
        <div class="salary-wrapper">
          <label for="max-salary">max</label>
          <input id="max-salary" type="number" formControlName="maxSalary" />
        </div>
      </div>

      <div
        *ngIf="
          jobFilters.errors?.['salary'] &&
          (jobFilters.touched || jobFilters.dirty)
        "
        class="cross-validation-error-message alert alert-danger">
        Invalid salary values
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="filter" expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>Seniority</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="seniority-filter" formArrayName="seniorities">
        @for (
          seniorityFilter of seniorities.controls;
          track seniorityFilter;
          let i = $index
        ) {
          <div class="seniority-wrapper">
            <mat-checkbox
              color="primary"
              [id]="String(i)"
              (change)="onSeniorityChange($event)"
              [checked]="seniorityFilter.getRawValue()?.isChecked">
            </mat-checkbox>
            <label [for]="String(i)">{{
              seniorityFilter.getRawValue()?.seniority
            }}</label>
          </div>
        }
      </div>
    </mat-expansion-panel>

    <div class="submit-button-wrapper">
      <button
        class="submit-filter"
        mat-raised-button
        type="submit"
        color="primary">
        Filter
      </button>
    </div>
  </form>
</div>
