<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title th:remove="all">Template for HTML email</title>
</head>
<body>
<p th:text="'Dear ' + ${fullName} + ','"></p>
<br>
<br>

<div style="display: flex; gap: .5rem;">
	<span
		th:text="${newPositionsCount} + ' new positions have been posted to the website! Go check it out by '"></span>
	<span> <a href="http://localhost/projects">clicking here</a> </span>
</div>
<br>
<br>

<footer>
	<p>Automated email from Project Opportunities. Do not reply.</p>
</footer>
</body>
</html>
