.center {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.settings {
  color: white;
}

.file-input {
  display: none;
}

p {
  margin: 0;
  color: white;
}
