.center {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.settings {
  color: white;
}

.file-input {
  display: none;
}

p {
  margin: 0;
  color: white;
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.download-resume {
  margin-left: 1.3rem;
  cursor: pointer;
}

.form-check-input {
  margin-right: 0.7rem;
}

.form-check {
  margin-bottom: 0.5rem;
}
