<h1 id="title">Browse projects</h1>

<div class="checkbox">
	<mat-checkbox (change)="changePreference()" color="primary" class="center">
		Show projects that have no open positions
	</mat-checkbox>
</div>

<div class="cards card-deck overflow-x-scroll">
	<div *ngFor="let projectWithCount of projectsWithNumberOfPosition">
		<div *ngIf="includeProjectWithoutPositions || projectWithCount.count > 0"
			 class="border-green card">
			<div class="card-header text-center align-middle ">
				<h1> {{projectWithCount.project.name}} </h1>
			</div>
			<div class="card-body text-center">
				<h3 class="card-subtitle description">{{projectWithCount.project.description}}</h3>
				<p class="card-text">{{projectWithCount.project.unitName}}</p>
				<p class="card-text ">{{projectWithCount.project.technologies}}</p>
				<p id="position-p">
					<span *ngIf="projectWithCount.count <= 1" class="position">
						There is {{projectWithCount.count}} open position
					</span>
					<span *ngIf="projectWithCount.count > 1" class="position">
						There are {{projectWithCount.count}} open positions
					</span>
				</p>
				<br>
				<div *ngIf="projectWithCount.count > 0">
					<a class="link-info" [routerLink]="" (click)="filterProject(projectWithCount.project)">Click here</a> to
					<span> browse them </span>
				</div>
			</div>
			<div class="card-footer text-center">
				<p class="text-muted">Project created on {{projectWithCount.project.creationDate | date}}</p>
			</div>
		</div>
	</div>
</div>


