
.flex-container {
	display: flex;
	flex-direction: column;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

#position {
	padding-top: 2rem;
	margin-left: 0.3rem;
}

