$green: #00E6A0;

#title {
	margin-top: 2rem;
	margin-left: 2rem;
}

.cards {
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}


.border-green {
	border: 2px solid $green;
}

.card {
	max-width: 18rem;
	min-width: 18rem;
	min-height: 430px;
	max-height: 430px;
	margin: 2rem;
}

.description {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
}

.checkbox {
	margin-top: 2rem;
	margin-left: 2rem;
}
