<section>
	<div class="m-2 row d-flex justify-content-center">
		<div class="col-md-10 col-xl-8 text-center">
			<h3 class="mt-3 mb-4">Comments for the
				{{currentProjectName}} {{position.seniorityName | titlecase}} {{position.roleName | underscore}} position
			</h3>
		</div>
	</div>

	<div class="text-center mt-3">
		<p *ngIf="comments.length === 0">There are no comments for this project yet</p>
	</div>

	<app-new-comment [position]="position" [comments]="comments"></app-new-comment>

	<app-comment-card *ngIf="comments.length > 0" [comments]="comments" [position]="position"></app-comment-card>

</section>
