@import 'material-icons/iconfont/material-icons.css';

:root {
  --back-color: rgb(15, 31, 39);
  --mdc-outlined-text-field-input-text-color: white;
  --mdc-outlined-text-field-input-text-placeholder-color: white;
  --mat-full-pseudo-checkbox-unselected-icon-color: white;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--back-color);
  color: white;
}

button:active {
  background-color: #00E6A0;
}

button:hover {
  background-color: #99F5D9;
}

.page-control .ngx-pagination a {
  color: white;
}

.page-control .ngx-pagination a:hover {
  background-color: RGB(54, 69, 79)
}
